html {
  font-size: 24px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header{
  background-color: magenta;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  background-color: navy;
  height: 700px;
  width: 30%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  background-color: yellow;
  height: 700px;
  width: 40%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside{
  background-color: green;
  height: 700px;
  width: 30%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  background-color: gray;
  height: 111px;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
}